body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:761px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:241px;
  width:270px;
  height:760px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:304px;
  width:57px;
  height:17px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:331px;
  width:65px;
  height:31px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:330px;
  width:65px;
  height:31px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:330px;
  width:65px;
  height:31px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:372px;
  width:65px;
  height:31px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:371px;
  width:65px;
  height:31px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:371px;
  width:65px;
  height:31px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:413px;
  width:65px;
  height:31px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:412px;
  width:65px;
  height:31px;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:412px;
  width:65px;
  height:31px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:454px;
  width:65px;
  height:31px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:453px;
  width:65px;
  height:31px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:453px;
  width:65px;
  height:31px;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:494px;
  width:65px;
  height:31px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:542px;
  width:57px;
  height:17px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:572px;
  width:65px;
  height:31px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:571px;
  width:65px;
  height:31px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:571px;
  width:65px;
  height:31px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:613px;
  width:65px;
  height:31px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:612px;
  width:65px;
  height:31px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:612px;
  width:65px;
  height:31px;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:654px;
  width:65px;
  height:31px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:653px;
  width:65px;
  height:31px;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:653px;
  width:65px;
  height:31px;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:694px;
  width:65px;
  height:31px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:695px;
  width:65px;
  height:31px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:77px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:247px;
  width:652px;
  height:76px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:38px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:264px;
  width:465px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:262px;
  width:48px;
  height:48px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:269px;
  width:20px;
  height:20px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:292px;
  width:58px;
  height:20px;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:296px;
  width:88px;
  height:11px;
  font-size:10px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:296px;
  width:64px;
  height:11px;
  font-size:10px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:77px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:323px;
  width:652px;
  height:76px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:39px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:340px;
  width:465px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:338px;
  width:48px;
  height:48px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:345px;
  width:20px;
  height:20px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:368px;
  width:58px;
  height:20px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:77px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:399px;
  width:652px;
  height:76px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:39px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:416px;
  width:465px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:414px;
  width:48px;
  height:48px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:77px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:475px;
  width:652px;
  height:76px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:39px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:492px;
  width:465px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:490px;
  width:48px;
  height:48px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:497px;
  width:20px;
  height:20px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:520px;
  width:58px;
  height:20px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:77px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:551px;
  width:652px;
  height:76px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:39px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:568px;
  width:465px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:566px;
  width:48px;
  height:48px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:77px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:627px;
  width:652px;
  height:76px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:39px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:644px;
  width:465px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:642px;
  width:48px;
  height:48px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:649px;
  width:20px;
  height:20px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:672px;
  width:58px;
  height:20px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:416px;
  width:20px;
  height:20px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:439px;
  width:58px;
  height:20px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:568px;
  width:20px;
  height:20px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:591px;
  width:58px;
  height:20px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:296px;
  width:80px;
  height:11px;
  font-size:10px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:374px;
  width:88px;
  height:11px;
  font-size:10px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:374px;
  width:64px;
  height:11px;
  font-size:10px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:374px;
  width:80px;
  height:11px;
  font-size:10px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:451px;
  width:88px;
  height:11px;
  font-size:10px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:451px;
  width:64px;
  height:11px;
  font-size:10px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:451px;
  width:80px;
  height:11px;
  font-size:10px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:525px;
  width:88px;
  height:11px;
  font-size:10px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:525px;
  width:64px;
  height:11px;
  font-size:10px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:525px;
  width:80px;
  height:11px;
  font-size:10px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:600px;
  width:88px;
  height:11px;
  font-size:10px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:600px;
  width:64px;
  height:11px;
  font-size:10px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:600px;
  width:80px;
  height:11px;
  font-size:10px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:671px;
  width:88px;
  height:11px;
  font-size:10px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:671px;
  width:64px;
  height:11px;
  font-size:10px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:671px;
  width:80px;
  height:11px;
  font-size:10px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:1041px;
  width:30px;
  height:30px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1041px;
  width:30px;
  height:30px;
  color:#CCCCCC;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:1041px;
  width:30px;
  height:30px;
  color:#CCCCCC;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:1041px;
  width:30px;
  height:30px;
  color:#CCCCCC;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:1041px;
  width:30px;
  height:30px;
  color:#CCCCCC;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1041px;
  width:30px;
  height:30px;
  color:#CCCCCC;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1041px;
  width:30px;
  height:30px;
  color:#CCCCCC;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:1041px;
  width:30px;
  height:30px;
  color:#CCCCCC;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:1041px;
  width:30px;
  height:30px;
  color:#CCCCCC;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:1041px;
  width:30px;
  height:30px;
  color:#CCCCCC;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:1041px;
  width:51px;
  height:30px;
  color:#CCCCCC;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:1041px;
  width:51px;
  height:30px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:77px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:703px;
  width:652px;
  height:76px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:39px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:720px;
  width:465px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:718px;
  width:48px;
  height:48px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:77px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:779px;
  width:652px;
  height:76px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:39px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:796px;
  width:465px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:794px;
  width:48px;
  height:48px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:801px;
  width:20px;
  height:20px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:824px;
  width:58px;
  height:20px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:77px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:855px;
  width:652px;
  height:76px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:39px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:872px;
  width:465px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:870px;
  width:48px;
  height:48px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:77px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:931px;
  width:652px;
  height:76px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:39px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:948px;
  width:465px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:946px;
  width:48px;
  height:48px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:953px;
  width:20px;
  height:20px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:976px;
  width:58px;
  height:20px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:720px;
  width:20px;
  height:20px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:743px;
  width:58px;
  height:20px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:872px;
  width:20px;
  height:20px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:895px;
  width:58px;
  height:20px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:755px;
  width:88px;
  height:11px;
  font-size:10px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:755px;
  width:64px;
  height:11px;
  font-size:10px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:755px;
  width:80px;
  height:11px;
  font-size:10px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:829px;
  width:88px;
  height:11px;
  font-size:10px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:829px;
  width:64px;
  height:11px;
  font-size:10px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:829px;
  width:80px;
  height:11px;
  font-size:10px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:904px;
  width:88px;
  height:11px;
  font-size:10px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:904px;
  width:64px;
  height:11px;
  font-size:10px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:904px;
  width:80px;
  height:11px;
  font-size:10px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:975px;
  width:88px;
  height:11px;
  font-size:10px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:975px;
  width:64px;
  height:11px;
  font-size:10px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:975px;
  width:80px;
  height:11px;
  font-size:10px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:258px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:286px;
  width:270px;
  height:1px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:742px;
  width:85px;
  height:17px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:770px;
  width:65px;
  height:31px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:769px;
  width:65px;
  height:31px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:769px;
  width:65px;
  height:31px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:811px;
  width:65px;
  height:31px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u837 {
  position:absolute;
  left:164px;
  top:310px;
  visibility:hidden;
}
#u837_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:602px;
  height:249px;
  background-image:none;
}
#u837_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:249px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:248px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:94px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:83px;
  width:523px;
  height:94px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:23px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:32px;
  width:181px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:195px;
  width:140px;
  height:40px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:5px;
  width:36px;
  height:38px;
  font-size:28px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:32px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:169px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:39px;
  width:932px;
  height:169px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:18px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:214px;
  width:171px;
  height:17px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:212px;
  width:18px;
  height:18px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
