body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:873px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-5px;
  width:424px;
  height:873px;
  opacity:0.5;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:44px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:93px;
  width:54px;
  height:44px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:107px;
  width:99px;
  height:17px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:107px;
  width:38px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:107px;
  width:31px;
  height:16px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:107px;
  width:36px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:107px;
  width:22px;
  height:16px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:41px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:124px;
  width:373px;
  height:40px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:134px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:136px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:181px;
  width:300px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:219px;
  width:1px;
  height:17px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:41px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:700px;
  width:339px;
  height:40px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:226px;
  width:1px;
  height:17px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:18px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:224px;
  width:141px;
  height:17px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:303px;
  width:86px;
  height:17px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:326px;
  width:125px;
  height:17px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:277px;
  width:62px;
  height:17px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:251px;
  width:219px;
  height:17px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
